%br
#footer.row
  %footer
    %span.copyright &copy; 2012 AsqUs
    %nav
      %ul
        %li
          = link_to 'Home', root_url
        %li
          = link_to 'About', '#'
        %li
          = link_to 'Transparency', '/faq'
        %li
          = link_to 'Jobs', '/jobs'
        %li
          = link_to 'Press', '/press'
        %li
          %a.communicate.twitter{:href => "https://twitter.com/asqus"}
            Twitter
        %li
          %a.communicate.email{:href => "mailto:dev@asq.us"}
            Email

