#footer
  %footer
    %span.copyright &copy; 2012 AsqUs
    %nav
      %ul
        %li
          = link_to 'Home', root_url
        %li
          = link_to 'About', '#'
        %li
          = link_to 'Transparency', '#'
        %li
          = link_to 'Jobs', '#'
        %li
          = link_to 'Contact', '#'
        %li
          %a.communicate.twitter{:href => "https://twitter.com/asqus"}
            Twitter
        %li
          %a.communicate.email{:href => "mailto:dev@asq.us"}
            Email

