:javascript
  $(function() {
    $("#login_register").dialog({
      autoOpen: false,
      height: 300,
      width: 350,
      modal: true,
      buttons: {
        "Get started now": function() {
          // Proceed
          $( this ).dialog( "close" );
        },
        "Cancel": function() {
          $( this ).dialog( "close" );
        }
      },
      close: function() {
        
      }
    });
    $('.sign_in_button').click(function() {
      $('#login_register').dialog('open');
    });  //{
  });

#navbar.navbar.navbar-fixed-top
  .navbar-inner
    .container

      %a.btn.btn-navbar{ "data-toggle" => "collapse", "data-target" => ".nav-collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      = link_to root_url, :class => 'brand' do
        = image_tag 'logo/logo_flat_orange_white_transparent_small.png', :class => 'header_logo'

      .nav-collapse
        -# __
          %form.navbar-form.navbar-search.pull-left.form-inline
            %input{ :type => "text", :class => "search-query", :placeholder => "Email" }
            %input{ :type => "submit", :class => "btn", :value => "Submit" }
          %span.divider-vertical
        %ul.nav
          %li
            = link_to 'Answer', '#answer', :class => 'nav-link'
          %li
            = link_to 'Ask', '#ask', :class => 'nav-link'
          %li
            = link_to 'Community', '#community', :class => 'nav-link'
          %li
            = link_to 'Be heard', '#signup', :class => 'nav-link'

          -# __
            -if user_signed_in?
              %li{ :class => ('active' if current_page?(new_user_registration_path)) }
                = link_to 'Propose', {:controller => '/users', :action => 'new'}
            %li.divider-vertical

        %ul.nav.pull-right
          -if user_signed_in?
            %li
              = link_to 'Log out', :destroy_user_session, { :method => :delete }
          -else
            %li
              = link_to 'Log in', '#', :class => 'sign_in_button'
            
            %li.divider-vertical
            %li
              = link_to 'Sign up', '#', :class => 'sign_in_button'


= render :partial => 'common_partials/user_forms'


-if user_signed_in?
  -if current_user.is_admin?
    #admin_controls
      = link_to 'User', :user_home
      = link_to 'Rep', :rep_home

.flash_notice
  = flash[:notice]
.flash_error
  = flash[:error]

