<%= form_for(@rep) do |f| %>
  <% if @rep.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rep.errors.count, "error") %> prohibited this rep from being saved:</h2>

      <ul>
      <% @rep.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
