%p#notice= notice 


#pollContainer

  %header
    %h1 Your polls
    %input#new-poll{ :type=>"text", :placeholder => 'new' }

  %section#main{ :style=>"display: block;" }
    %input#publish-all{ :type=>"checkbox" }
    %label{ :for => "publish-all" } Mark all as complete
    %ul#poll-list
  
  %footer
    %a#clear-completed Clear completed
    .poll-count

-# __commented__
  %p
    %b First name:
    = @user.first_name 

  %p
    %b Last name:
    = @user.last_name 

  %p
    %b Email:
    = @user.email 

  %p
    %b Zipcode:
    = @user.zipcode 

  %p
    %b Password:
    = @user.password 

  %p
    %b Password salt:
    = @user.password_salt 



  = link_to 'Edit', edit_user_path(@user)  |
  = link_to 'Back', users_path 
