:javascript
  $(function() {
    window.router = new AsqUs.Routers.HomeRouter({
      polls: #{@polls.to_json.html_safe},
      user_auth: #{@user_auth},
      location: {
        state: '#{@state_name}',
        city: '#{@city_name}'
      }
    });
    Backbone.history.start();
  });


#main.container
  .row
    #home.span12
    -# __
      #site-info.span4
        = image_tag 'logo/logo_orange_white_transparent.png'
        .site-info-text
          %p
            Asq.Us publicly-owned political dialogue platform.
          %p
            As a nonprofit that's building open-source technology, Asq.Us is bridging the gap between you and your elected officials. 
          %p
            We're taking the 'townhall' concept to the 21st century.
          %p
            By using the Internet, we can finally connect the people that make up America's democracy.

#message
#poll

