<div class="poll-wrapper">
<div class="poll-result"></div>
<div class="poll-info well span10">
    <h1><%= poll_title %></h1>
    <% if (rep_title) { %>
    <h2>Question from: <%= rep_title %></h2> 
    <% } %>
    <p><%= prompt %></p>
    <% _.each(options, function(key,num) { %>
    <button class="pollAnswer btn btn-large" data-pollid="<%= poll_id %>" 
                               data-answerid="<%= num %>">
        <%= key %>
    </button>
    <% }); %>
    <br>
    <a href="#" class="pollSkip btn btn-primary" data-pollid="<%= poll_id %>" 
                               data-answerid="99">
        Skip
    </a>
    <br>
    <br>
</div>
</div>        

<div class="comment-section well span10">
    <h2>Representative's Comments</h2>
    <div class="single-comment comment-box">
        <div class="avatar">
            <img height="48" width="48" src="assets/avatar3.jpg">
        </div>
        <div class="comment-meta">
            <p class="author">
                <i class="icon-comment"></i>
                <b>Justin Amash</b> commented           
            </p>
        </div>
        <div class="comment-text">
                <p>I'm a representative. I'm commenting here to let you know
that I have more information about this currently discussed question. Thanks for
listening!
        </div>
    </div>
</div>
<div class="comment-section well span10">
    <h2>Community Voices</h2>
    <div class="single-comment comment-box">
        <div class="avatar">
            <img height="48" width="48" src="assets/avatar.jpg">
        </div>
        <div class="comment-meta">
            <p class="author">
                <i class="icon-comment"></i>
                <b>Adam Williams</b> commented           
            </p>
        </div>
        <div class="comment-text">
                <p>This comment doesn't really mean a whole lot. I wrote it to test
    whether a comment would fit well into this design. In terms of sentences, shall
    I use two, three, four or more? I think four will be plenty for this example. 
        </div>
    </div>
    <div class="single-comment comment-box">
        <div class="avatar">
            <img height="48" width="48" src="assets/avatar2.jpg">
        </div>
        <div class="comment-meta">
            <p class="author">
                <i class="icon-comment"></i>
                <b>Jake Schwartz</b> commented           
            </p>

        </div>
        <div class="comment-text">
                <p>This comment doesn't really mean a whole lot. I wrote it to test
    whether a comment would fit well into this design. In terms of sentences, shall
    I use two, three, four or more? I think four will be plenty for this example. 
        </div>
    </div>
</div>
