<h1>New user</h1>

<form id="new-user" name="user">
  <div class="field">
    <label for="first_name"> first_name:</label>
    <input type="text" name="first_name" id="first_name" value="<%= first_name %>" >
  </div>

  <div class="field">
    <label for="last_name"> last_name:</label>
    <input type="text" name="last_name" id="last_name" value="<%= last_name %>" >
  </div>

  <div class="field">
    <label for="email"> email:</label>
    <input type="text" name="email" id="email" value="<%= email %>" >
  </div>

  <div class="field">
    <label for="zipcode"> zipcode:</label>
    <input type="text" name="zipcode" id="zipcode" value="<%= zipcode %>" >
  </div>

  <div class="field">
    <label for="password"> password:</label>
    <input type="text" name="password" id="password" value="<%= password %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create User" />
  </div>

</form>

<a href="#/index">Back</a>