<p>
  <b>First name:</b>
  <%= first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= last_name %>
</p>

<p>
  <b>Email:</b>
  <%= email %>
</p>

<p>
  <b>Zipcode:</b>
  <%= zipcode %>
</p>

<p>
  <b>Password:</b>
  <%= password %>
</p>


<a href="#/index">Back</a>