<td><%= first_name %></td>
<td><%= last_name %></td>
<td><%= email %></td>
<td><%= zipcode %></td>
<td><%= password %></td>

<td><a href="#/<%= id %>">Show</td>
<td><a href="#/<%= id %>/edit">Edit</td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>