<td><%= title %></td>
<td><%= prompt %></td>
<td><%= category %></td>
<td><%= published %></td>

<td><a href="#/<%= id %>">Show</td>
<td><a href="#/<%= id %>/edit">Edit</td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>