!!! 5
%html
  %head
    %title
      AsqUs
    
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }
    = stylesheet_link_tag    "application"
    = javascript_include_tag "http://www.google.com/jsapi"
    = javascript_include_tag 'application.js'
    = csrf_meta_tags
  %body

    = render :partial => 'common_partials/header'

    = yield

    = render :partial => 'common_partials/footer'

