!!! 5
%html
  %head
    %title
      AsqUs
    
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0, user-scalable=no" }
    = stylesheet_link_tag "application"
    = jquery_include_tag :google
    = javascript_include_tag 'application.js'
    = csrf_meta_tags
  %body{ 'data-spy' => "scroll",  'id' => "intro" }

    = render :partial => 'common_partials/header'

    #main.container
      = yield

      = render :partial => 'common_partials/footer'

